In [1]:
list1 = [1,2,3,4,5,6]

In [5]:
for num in range(0,100,10):
    print(num)

0
10
20
30
40
50
60
70
80
90

step size last

index count - enumerate

In [8]:
index_count = 0
for let in 'abcdefgh':
    print('at index {} the letter is {}'.format(index_count,let))
    index_count += 1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e
at index 5 the letter is f
at index 6 the letter is g
at index 7 the letter is h

In [9]:
i_c = 0
word = 'zebra'
for go in word:
    print(word[i_c])
    i_c+= 1

z
e
b
r
a

In [10]:
word = 'camel'
for item in enumerate(word):
    print(item)

(0, 'c')
(1, 'a')
(2, 'm')
(3, 'e')
(4, 'l')

In [11]:
word = 'kite'
for index,letter in enumerate(word):
    print(index)
    print(letter)

0
k
1
i
2
t
3
e

In [14]:
list1 = [1,'d','aish',2]
list2 = [3,'e','do',4,0]
list3= ['f','']

In [15]:
for item in zip(list1,list2):
    print(item)

(1, 3)
('d', 'e')
('aish', 'do')
(2, 4)

In [1]:
'a' in [1,2,3]

False

In [2]:
2 in [1,2,3]

True

In [3]:
'a' in 'aishwarya'

True

In [4]:
'k1' in {'k1':1}

True

In [16]:
d = {'k1': 100}
100 in d.values()

True

In [15]:
d1 = {'k1' : 345}
345 in d1.values()

True

In [18]:
d2 = {'k2' : 342}
342 in d.keys()

False

In [19]:
list0 = [10,20,30,40]

In [20]:
min(list0)

10

In [21]:
max(list0)

40

In [22]:
from random import shuffle

In [23]:
listy = [1,2,3,4,5,6,7,8,9]

In [24]:
shuffle(listy)

In [25]:
listy

[2, 9, 7, 8, 6, 5, 4, 1, 3]

In [27]:
from random import randint

In [28]:
randint(0,100)

40

In [29]:
q = randint(0,10)

In [30]:
q

1

In [31]:
input('enter a number here')

enter a number here30

'30'

In [32]:
result = input('what is ur name?')

what is ur name?aish

In [33]:
result

'aish'

In [34]:
type(result)

str

input always accepts strings

list comprehensions

In [35]:
str1 = 'hello'

In [36]:
list1  = []

for letter in str1:
    list1.append(letter)

In [37]:
list1

['h', 'e', 'l', 'l', 'o']

In [38]:
list2 = [letter for letter in str1]

In [39]:
list2

['h', 'e', 'l', 'l', 'o']

In [40]:
list3 = [a for a in 'aishwarya']

In [41]:
list3

['a', 'i', 's', 'h', 'w', 'a', 'r', 'y', 'a']

In [48]:
list3 = [num/2 for num in range(0,21)]

In [49]:
list3

[0.0,
 0.5,
 1.0,
 1.5,
 2.0,
 2.5,
 3.0,
 3.5,
 4.0,
 4.5,
 5.0,
 5.5,
 6.0,
 6.5,
 7.0,
 7.5,
 8.0,
 8.5,
 9.0,
 9.5,
 10.0]

In [63]:
list3 = [x**2 for x in range(0,21) if x%2 == 0]

In [64]:
list3

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [55]:
cel = [0,2,34,20,23.0]
fahr = [((9/5)*temp+32) for temp in cel]

In [56]:
fahr

[32.0, 35.6, 93.2, 68.0, 73.4]

method 1

In [60]:
fahr = []
for t in cel:
    fahr.append((9/5)*t+32)

In [61]:
fahr

[32.0, 35.6, 93.2, 68.0, 73.4]

In [65]:
res=[x if x%2 == 0 else 'ODD' for x in range (0,21)]

In [69]:
list4 =[]
for x in [2,4,6]:
    for y in [1,10,1000]:
        list4.append(x*y)

In [70]:
list4

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [71]:
list5 = [x*y for x in[2,4,6] for y in [1,10,1000]]

In [72]:
list5

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [1]:
r = [1,3,4,6,7,8]

In [4]:
print(r[4:])

[7, 8]